.row{
    margin: 0 !important;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 24px;
}


h5{
    font-size: 22px;
}

h6{
    font-size: 20px;
}

p{
    font-size: 16px;
}